.homepage-welcome-bg {
  background-image: url(../assets/backgrounds/welcome.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.devotional-bg {
  background-image: url(../assets/backgrounds/devotional.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.message-bg {
  background-image: url(../assets/backgrounds/message.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.download-bg {
  background-image: url(../assets/backgrounds/download.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.event-bg {
  background-image: url(../assets/backgrounds/events.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.direction-bg {
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url(../assets/backgrounds/direction.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
}

.subscriber-bg {
  background-image: url(../assets/backgrounds/subscriber.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-header-bg {
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%), url(/hero/h1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.worship-header-bg {
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%), url(/hero/worship.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.parish-life-header-bg {
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%), url(/hero/parish-life.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.facilities-header-bg {
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%), url(/hero/facilities.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery-header-bg {
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%), url(../assets/backgrounds/direction.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
}

.blog-header-bg {
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%), url(/hero/blog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.faith-bg {
  background-image: url(../assets/backgrounds/faith.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.event-header-bg {
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%), url(/hero/events.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu-header-bg {
  background-image: url(../assets/backgrounds/menu.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.resources-header-bg {
  background-image: url(../assets/backgrounds/resources.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.podcast-bg {
  background-image: url(../assets/backgrounds/podcast.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.testimony-content-bg {
  background-image: url(../assets/images/resources/testimony/content-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.messages-header-bg {
  background-image: url(../assets/backgrounds/messages.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.giving-header-bg {
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%), url(/hero/give.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.giving-bg {
  background-image: url(../assets/backgrounds/giving-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.location-header-bg {
  background-image: url(../assets/backgrounds/locations.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.testimony-header-bg {
  background-image: url(../assets/backgrounds/testimony.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-header-bg {
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 70%), url(/hero/contact.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center 40%;
}

.feedback-header-bg {
  background-image: url(../assets/backgrounds/feedback.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.podcast-header-bg {
  background-image: url(../assets/backgrounds/podcast-header.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.auth-header-bg {
  background-image: url(../assets/backgrounds/auth-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}